
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
.idea/
#Nuget packages folder
packages/
*.db*
/ToDoList.API/client/.cursor/*
/ToDoList.API/client/.vscode/extensions.json
/ToDoList.API/client/.vscode/launch.json
/ToDoList.API/client/.vscode/tasks.json
/.vscode/launch.json
/.vscode/tasks.json
/ToDoList.API/ToDoList.API/.config/dotnet-tools.json
/ToDoList.API/ToDoList.API/wwwroot/*
