<div class="container mx-auto p-4">
    <div class="flex justify-between items-center mb-4">
        <h1 class="text-2xl font-bold">Todo List</h1>
        <button class="btn btn-primary" (click)="openToDoItemForm()">Dodaj zadanie</button>
    </div>


    <div class="flex justify-between items-center mb-6 p-5">
        <div class="flex items-end gap-3">
            <div class="flex items-center gap-3">
                <label for="filterDate" class="form-control">
                    <div class="label">
                        <span class="label-text">Filtruj po dacie:</span>
                    </div>

                    <input type="date" id="filterDate" class="input input-bordered" [value]="filterDate()"
                        (change)="onFilterDateChange($any($event.target).value)">
                </label>
            </div>
            @if (filterDate())
            {
            <button class="btn btn-ghost" (click)="clearFilter()">Wyczyść</button>
            }
        </div>
        <div class="font-medium">Łącznie: {{ totalCount() }} zadań</div>
    </div>

    @if (paginatedToDoItems(); as paginatedResult) {
    <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
        <table class="table">
            <thead>
                <tr>
                    <th class="w-1/9 font-semibold uppercase">Nazwa zadania</th>
                    <th class="w-4/9 font-semibold uppercase">Opis zadania</th>
                    <th class="w-1/9 font-semibold uppercase">Przypisany do</th>
                    <th class="w-1/9 font-semibold uppercase">Data wykonania</th>
                    <th class="w-1/9 font-semibold uppercase">Status</th>
                    <th class="w-1/9 font-semibold uppercase">Akcje</th>
                </tr>
            </thead>
            <tbody>
                @for (item of paginatedResult.items; track item.id) {

                <tr>
                    <th>{{ item.title }}</th>
                    <td>{{ item.description }}</td>
                    <td>{{ item.assignedEmail }}</td>
                    <td>{{ item.toDoDate | date:'dd.MM.yyyy' }}</td>
                    <td>{{ getStatusLabel(item.status) }}</td>
                    <td>
                        <button class="btn btn-info" (click)="editToDoItem(item)">Edytuj</button>
                    </td>
                </tr>
                }

            </tbody>
        </table>
    </div>
    } @else {
    <div class="alert alert-info">
        <span>Nie znaleziono zadań</span>
    </div>
    }

    @if (totalPages() > 1) {
    <div class="flex justify-center items-center gap-4 mt-6">
        <button class="btn btn-outline" (click)="onPageChange(pageNumber() - 1)" [disabled]="pageNumber() === 0">
            Previous
        </button>

        <span class="text-sm font-medium text-gray-600">
            Page {{ pageNumber() + 1 }} of {{ totalPages() }}
        </span>

        <button class="btn btn-outline" (click)="onPageChange(pageNumber() + 1)"
            [disabled]="pageNumber() === totalPages() - 1">
            Next
        </button>
    </div>
    }

</div>
@if (showToDoItemForm()) {
<app-todo-form [toDoItem]="selectedToDoItem()" (close)="closeToDoItemForm()"></app-todo-form>
}